<!doctype html>
<html>
    <head>
        <title><%=websiteName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css"/>

    </head>
    <body>
      <header class="jumbotron-header">
        <h1>Add post to <%=websiteName%></h1>
      </header>
  
      <nav class="mainmenu-background">
        <!-- Navigation links to each of the pages in nav bar -->
        <ul class="mainmenu-list">
            <li class="mainmenu-items"><a class="mainmenu-link" href="/">Home Page</a></li>
            <li class="mainmenu-items"><a class="mainmenu-link" href="about">About <%=websiteName%></a></li>
            <li class="mainmenu-items"><a class="mainmenu-link" href="topics">See all topics</a></li>
            <li class="mainmenu-items"><a class="mainmenu-link" href="users">See all users</a></li>
            <li class="mainmenu-items"><a class="mainmenu-link" href="posts">See all posts</a></li>
            <li class="mainmenu-items"><a class="mainmenu-link" href="addposts">Add to posts</a></li>
            <li class="mainmenu-items"><a class="mainmenu-link" href="search">Search all posts</a></li>
            <li class="mainmenu-login"><a class="mainmenu-link" href="logout">LOG OUT</a></li>
            
        </ul>
      </nav>
      
      <section class="addposts-section">
            <!-- Sets up form with four inputs and a submit button -->
            <form method="POST" action="/added-post">
                <!-- User input for user name for moment IF TIME AUTO FROM LOGIN-->
                <div class="addposts-div">
                    <label class="addposts-label">Please enter your username here:</label>
                    <input class="addposts-input-user" id="user" type="text" name="user_name" value="Please enter your name here:" />
                </div>

                <!-- Dropdown lists for Topic-->
                <div class="addposts-div">
                    <label class="addposts-label" for="topic">Choose the Topic for your Post</label>
                    <select class="addposts-input-dropdown" id="topic" name="topic_title">
                        <!-- Inputs books data from search and database-->
                        <% for(let i = 0; i < availableTopics.length; i++) {%>
                            <option value="<%= availableTopics[i].topic_title %>">
                                <%= availableTopics[i].topic_title%>
                            </option>
                        <% } %>
                    </select>
                </div>
                
                <!-- Title input -->
                <div class="addposts-div">
                    <input class="addposts-input-title" id="post_title" type="text" name="post_title" value="Title"/>
                </div>

                <!-- Content input -->
                <div class="addposts-div">
                    <textarea class="addposts-input-content" id="post_content" name="post_content" rows="5" cols="33">Enter Post Here.</textarea>
                </div>

                <!-- Submit button-->
                <div class="addposts-div">
                    <input class="addposts-input-button" type="submit" value="Add Post" />
                </div>
            </form>
        </section>


    </body>


</html>