<!doctype html>
<html>
  <head>
    <title><%=websiteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css"/>

  </head>
  <body>
    <header class="jumbotron-header">
      <h1>Welcome to <%=websiteName%></h1>
    </header>

    <nav class="mainmenu-background">
      <!-- Navigation links to each of the pages in nav bar -->
      <ul class="mainmenu-list">
          <li class="mainmenu-items"><a class="mainmenu-link" href="/">Home Page</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="about">About <%=websiteName%></a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="topics">See all topics</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="users">See all users</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="posts">See all posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="addposts">Add to posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="search">Search all posts</a></li>
      </ul>
    </nav>

    <main class="homepage-container">
      <section class="homepage-sections  topics-section">
        <h1 class="homepage-headings">Topics</h1>
        <p class="homepage-p">These are some of the topics available. Please see the <a href="topics">Topics page</a> for the full Topic List.</p>
        <ul class="topics-list">
          <!-- Input topic data from database here -->
          <% for(let i = 0; i < availableTopics.length; i++) {%>
            <li class="topics-items"><%= availableTopics[i].topic_title%></li>
          <% } %>
        </ul>
      </section>

      <section class="homepage-sections  posts-section">
        <h1 class="homepage-headings">Posts</h1>
        <p class="homepage-p">For all posts, please see the <a href="posts">Posts page</a>. To post, you need to be a member of the topic. Please note all posts are monitored and need to be approved before they will be shown.</p>
        <ul class="post-list">
          <!-- Input posts data from database here -->
          <% for(let i = 0; i < availablePosts.length; i++) {%>
            <li class="post-items post-title"><%= availablePosts[i].post_title%></li>
            <li class="post-items post-contents"><%= availablePosts[i].post_content%></li>
          <% } %>
        </ul>
      </section>

      <section class="homepage-sections  users-section">
        <h1 class="homepage-headings">Users</h1>
        <!-- Input users data from database here -->
        <p class="homepage-p">You can find the list of all users <a href="users">here</a>.</p>
        <p class="homepage-p">You can log in to your user profile here</p>

        <section class="homepage-sections  about-section">
          <h1 class="homepage-headings">About <%=websiteName%></h1>
          <h2 class="homepage-subheadings">Find out all about us</h2>
          <p class="homepage-p">Rules of the website?</p>
        </section>
      </section>

    </main>
  </body>
</html>