<!doctype html>
<html>
  <head>
    <title><%=websiteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css"/>

  </head>
  <body>
    <header class="jumbotron-header">
      <h1>Search <%=websiteName%></h1>
    </header>

    <nav class="mainmenu-background">
      <!-- Navigation links to each of the pages in nav bar -->
      <ul class="mainmenu-list">
          <li class="mainmenu-items"><a class="mainmenu-link" href="/">Home Page</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="about">About <%=websiteName%></a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="topics">See all topics</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="users">See all users</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="posts">See all posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="addposts">Add to posts</a></li>
          <li class="mainmenu-items"><a class="mainmenu-link" href="search">Search all posts</a></li>
          <li class="mainmenu-login"><a class="mainmenu-link" href="logout">LOG OUT</a></li>
        </ul>
    </nav>
    
    <section class="searchresult-section">
      <h2 class="searchresult-heading">The following posts match your search:</h2>
      
      <ul class="searchresult-list"> 
          <!-- Inputs books data from search and database-->
          <% for(let i = 0; i < foundPosts.length; i++) {%>
            <li class="searchresult-items">
              <div class="searchresult-topic-box">
                <p class="searchresult-topic-p"><%= foundPosts[i].topic_title%></p>
              </div>

              <div class="searchresult-title-box">
                <p><%= foundPosts[i].post_title%></p>
              </div>

              <div class="searchresult-content-box">
                <p><%= foundPosts[i].post_content%></p>
              </div>
              
              <div class="searchresult-user-date-box">
                <p>Posted by <strong><%= foundPosts[i].user_name%></strong> on <strong><%= foundPosts[i].post_date%></strong></p>
              </div>
              
          </li>
          <% } %>
      </ul>
    </section>

  </body>
</html>